doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(herf="#") Home
      a(herf="#") About
      a(herf="#") Contacts

    .content
      block content
