doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        div
          a(href='home/') Home
          a(href='about/') About
          a(href='contacts/') Contacts
    block content
    block footer