body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
a {
  color: #00b7ff;
}
h1 nav,
header nav {
  padding: 0 0 10px;
}
h1 nav a,
header nav a {
  line-height: 1;
  padding: 10px 20px 10px;
  border: 1px solid #add8e6;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 10px;
  color: #add8e6;
  transition: all ease 0.05s;
}
h1 nav a:hover,
header nav a:hover {
  background: #add8e6;
  color: #fff;
}
