body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align center
a
  color #00B7FF
h1
header
  nav
    padding 0 0 10px
    a
      line-height 1
      padding 10px 20px 10px
      border 1px solid lightblue
      border-radius 3px
      text-decoration none
      margin 0 10px
      color lightblue
      transition all ease 0.05s
      &:hover
        background lightblue
        color white